<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact Us")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact Us")}</h1>
        <p>${_("Excelforth Consultancy (M) Sdn. Bhd. (1050359-T)")}</p><br/>
        <p>${_("72-1, Jalan Metro Pudu,")}<br/>
        <p>${_("Fraser Business Park,")}<br/>
        <p>${_("55100 Kuala Lumpur.")}<br/><br/>
        <p>${_("Tel:+60328560748")}<br/>
        <p>${_("WhatsApp:+601155080359")}<br/>
    </section>
</main>
