<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
        <p>${_("Excelforth Consultancy has created this privacy statement to exude its commitment to privacy.")}</p><br/>
        <p>${_("Excelforth Consultancy is committed to protecting your privacy and providing you the most powerful and safe online experience. ")}</p><br/>
        <p>${_("This publication intends to help you understand how personal information you provide to Excelforth Consultancy is collected and used,")}</p><br/>
        
</main>
